h1::first-letter{
  font-size: 2em;
  font-style: italic;
}
p::first-line{
  background-color: yellow;
}
p::selection{
  background-color: green;
  color: white;
}
.fruit li::before{
  content: "√";
}
.apple::after{
  content: "🍎";
}
.banana::after{
  content: "🍌";
}
.orange::after{
  content: "🍊";
}