.container {
  border: 3px solid black;
}
/* Descendant selector ( ) empty space */
/* .container p{
  background-color: yellow;
} */

/* Child */
/* .container > p{
  background-color: yellow; 
}*/

/* generals sibling kapatid ni container */
/* .container  ~ p{
  background-color: yellow;
} */

/* adjacent - last children*/ 
.container + p{
  background-color: yellow;
}

